{{>headerNav}}
<section id="blogs" class="container">
  <h1>All Blogs</h1>
  <p>Click on any of the title links to take you to the individual posts pages
    to view the comments</p>
  {{#each blogs}}
    <div class="blogCard bdr-style-one">
      <a class="blogTitle" href="/blogs/{{this.id}}">{{this.id}}.
        {{this.title}}
      </a>

      <p>{{this.contents}}</p>
      <div class="postedBy">posted by: {{user.username}} on  {{this.datePosted}}
      </div>
    </div>

  {{else}}
    <p>No blogs available</p>

  {{/each}}

</section>