<section id="blogs" class="container">
  <h1>All Blogs</h1>

  {{#each blogs}}
    <div class="blogCard bdr-style-one ">
      <a  href="/blogs/{{this.id}}">{{this.id}}. {{this.title}}
      </a>
     
      <p>{{this.contents}}</p>
       <div>posted by:
    </div>
         </div>

  {{else}}
    <p>No blogs available</p>

  {{/each}}

</section>